main {
    position: absolute;
    color: white;
    width: 100vw;
    z-index: 99;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(239, 232, 232);
    text-decoration-color: aliceblue;
}